xrf555
xrf555_processed
__pycache__
*.npy
*.png
test_torch.py
*.ipynb
result
Focus
Focus_processed
focus_model
lw_focus_model
lw_focus_model_multi_angle
focus_model_original
focus_processed_model_singleangle
focus_processed_model_multiangle
lw_focus_model_singleangle
lw_focus_model_multiangle

Focus_processed_multi_angle
xrf555_processed_multi_angle
*single_angle
cubelearn_model*
hoi_model*
transformer_model_multi_angle*
transformer_model_single*
lw_model*