bottleneck
brotli
certifi==2023.5.7
charset-normalizer
cycler
dtw==1.4.0
einops==0.6.1
fastdtw==0.3.4
filelock==3.11.0
fonttools
h5py
huggingface-hub==0.13.4
idna
importlib-metadata==6.3.0
joblib==1.2.0
keras==2.11.0
kiwisolver
matplotlib
mkl-fft
mkl-random
mkl-service
munkres==1.1.4
numexpr
numpy
opencv-python==4.7.0.72
packaging
pandas==1.3.5
pillow
ply==3.11
POT==0.9.0
pyparsing
PyQt5==5.15.7
PyQt5-sip==12.11.0
PySocks
python-dateutil
pytz
PyWavelets==1.3.0
PyYAML==6.0
requests
scikit-learn==1.0.2
scipy
seaborn==0.12.2
sip
six
scikit-learn
threadpoolctl==3.1.0
timm==0.6.13
toml
torch
torchaudio
torchvision
tornado
tqdm
tsnecuda==3.0.1
typing_extensions
unicodedata2
urllib3
zipp==3.15.0
